* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Tahoma';
}

body {
    margin: 0px auto;
}

li a:hover:not(.active) {
    color: #212121
}

a {
    text-decoration: none;
    color: black;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 40px;
}

.card {
    padding: 20px;
    background-color: lightgrey;
    box-shadow: 5px 7px #b9b6b6;
}

.text-card {
    padding: 0;
}

.text-card .text-left {
    float: left
}

.text-card .text-right {
    float: right;
}

.input-voucher {
    width: 89%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn-voucher {
    padding: 10px;
    width: 10%;
    background-color: white;
    color: black;
}

footer {
    position: bottom;
    bottom: 50px;
    left: 10px;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 20px;
    background-color: lightgrey;
    font-size: 18px;
}

.method-payment {
    padding: 5px;
}

.method-payment i {
    margin-right: 10px;
}

.input-email {
    width: 75%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn-subscribe {
    padding: 10px;
    margin-left: -10px;
    background-color: grey;
    color: white;
}